<main class="game-shell" role="main">
  <div class="board-wrapper">
    <div class="board" aria-label="Spielfeld">
      <div class="row" *ngFor="let row of rows(); let r = index" [class.win]="winRowIndex() === r">
        <div class="tile"
             *ngFor="let cell of row; let c = index"
             [class.ok]="statuses()[r][c] === 'ok'"
             [class.warn]="statuses()[r][c] === 'warn'"
             [class.bad]="statuses()[r][c] === 'bad'"
             [class.reveal]="revealingRow() === r"
             [style.--delay.ms]="c * 120">
          {{ cell }}
        </div>
      </div>
    </div>
  </div>

  <div class="keyboard" aria-label="Bildschirmtastatur">
    <div class="key-row">
      <button class="key" type="button" *ngFor="let k of kb1"
              [class.ok]="keyState()[k] === 'ok'"
              [class.warn]="keyState()[k] === 'warn'"
              [class.bad]="keyState()[k] === 'bad'"
              (click)="handleKey(k)">{{ k }}</button>
    </div>
    <div class="key-row">
      <button class="key" type="button" *ngFor="let k of kb2"
              [class.ok]="keyState()[k] === 'ok'"
              [class.warn]="keyState()[k] === 'warn'"
              [class.bad]="keyState()[k] === 'bad'"
              (click)="handleKey(k)">{{ k }}</button>
    </div>
    <div class="key-row">
      <button class="key wide" type="button" (click)="handleKey('ENTER')">ENTER</button>
      <button class="key" type="button" *ngFor="let k of kb3"
              [class.ok]="keyState()[k] === 'ok'"
              [class.warn]="keyState()[k] === 'warn'"
              [class.bad]="keyState()[k] === 'bad'"
              (click)="handleKey(k)">{{ k }}</button>
      <button class="key wide" type="button" (click)="handleKey('BACKSPACE')">⌫</button>
    </div>
  </div>

  <div class="toast" *ngIf="toast() as msg">{{ msg }}</div>
</main>
